@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  /* Google Font */
  --font-Urbanist: "Urbanist", "sans-serif";

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  /* =========== Colors =========== */
  --color-body: #EAECED;
  --color-theme-primary: #CAEB66;
  --color-secondary: #03373D;

  /* Blue */
  --color-blue-1: #E6F2F3;
  --color-blue-2: #C3DFE2;
  --color-blue-3: #94C6CB;
  --color-blue-6: #067A87;
  --color-blue-9: #03464D;
  --color-blue-10: #03373D;

  /* Green */
  --color-green-1: #FAFDF0;

  /* Black */
  --color-dark-3: #F5F5F5;
  --color-dark-4: #F0F0F0;
  --color-dark-5: #DADADA;
  --color-dark-8: #606060;
  --color-dark-10: #303030;
  --color-dark-12: #1F1F1F;
  --color-dark-13: #0B0B0B;

  /* Shadow */
  --shadow-btn-inner: inset 0px 0px 122px rgba(0, 0, 0, 0.22);
}

html,
body {
  @apply scroll-smooth;
}

body {
  @apply font-Urbanist text-base text-dark-8 font-normal bg-body overflow-x-hidden;
}

::selection {
  @apply text-dark-12 bg-theme-primary;
}

.container {
  @apply mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1240px] xxl:max-w-[1420px] px-3;
}

.primary-menu ul li a {
  @apply px-4 py-2 lg:py-2.5 inline-block font-medium hover:text-theme-primary duration-300;
}

.form-field {
  @apply border w-full py-3 px-5 rounded-md focus:outline-0 font-medium
}

.form-field-border {
  @apply text-dark-8 border-[#CBD5E1] focus:border-theme-primary;
}

.form-field-error {
  @apply border-red-500 text-red-500 focus:border-red-500;
}

/* ==================== Button ==================== */
.button {
  @apply text-base font-semibold py-3 lg:py-4 px-7 lg:px-8 rounded-xl duration-300 cursor-pointer;
}

.button-outline {
  @apply bg-white border border-dark-5 hover:bg-theme-primary hover:text-dark-12 hover:border-theme-primary;
}

.button-outline-2 {
  @apply bg-transparent border border-theme-primary text-theme-primary hover:bg-theme-primary hover:text-dark-12;
}

.button-fill {
  @apply bg-theme-primary text-dark-12 border border-theme-primary hover:shadow-btn-inner hover:border-transparent;
}

.button-rounded-full {
  @apply rounded-full
}

.login-re-button {
  @apply py-3
}

/* ==================== Navbar ==================== */
.primary-menu ul li a.active {
  @apply text-theme-primary;
}

.or-social {
  @apply before:content-[''] before:w-[50%] before:absolute before:h-px before:bg-[#CBD5E1] before:-left-6 before:top-[50%] after:content-[''] after:w-[50%] after:absolute after:h-px after:bg-[#CBD5E1] after:-right-6 after:top-[50%];
}

/* ==================== Dashboard ==================== */
/* Top Navbar */

/* Side Nav */
.side-nav-menu li {
  @apply mb-3;
}

.side-nav-menu li a {
  @apply flex items-center text-sm font-bold text-dark-8 gap-2 py-3 px-4 rounded-xl hover:text-dark-13 duration-300;
}

.side-nav-menu li a.active {
  @apply bg-theme-primary text-dark-13;
}